/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: rgba(240, 233, 222, 50%);
}

h1, h2, h3, h4 {
	font-family: 'Changa', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

h1{
	font-size:25px !important;
}

h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}

button, html [type="button"], [type="reset"], [type="submit"]{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background: #6d4a4b;
}


/* ----------------------------------  Header ----- */

body.home .wp-custom-header:before {
    content: url(https://sanjose.wordcamp.org/2022/files/2022/08/wcsj22-intern-header-clouds.png);
    position: absolute;
    z-index: 1; 
    left: 5%;
    top: 12%;
    max-width: 70%;
    overflow: hidden;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: floating-home;
}

@keyframes floating-home {
0% {
	left: 5%;
}

50% {
	left: 4%;
}
	
100% {
	left: 5%;
}
}

.home .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
	padding-bottom: 0px;
}

.wp-block-cover .wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background {
    height: 200%;
    top: -415px;
    
}

.wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container)>.wp-block-navigation-item>.wp-block-navigation-item__content {
        color: #000 !important;
}

.wp-block-buttons { 
	display: none !important;
}

.wp-elements-95bad5bcb08bd317929a0587c163c58d a {
  color: #000 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500 !important;
  font-size:18px !important;
	
}
.wp-elements-70914970ecc30acde9a25635cc65a5d4 a{
	color: #000 !important;
}

/* ---------------------------------- Animación Cabecera - Internas ----- */

body:not(.home) .wp-site-blocks header:before {
    content: url(https://sanjose.wordcamp.org/2022/files/2022/08/wcsj22-intern-header-clouds.png);
    position: absolute;
    z-index: 0;
    padding-top: 20px;
    left: 5%;
    top: 0%;
    max-width: 90%;
    overflow: hidden;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: floating;
}

@keyframes floating {
0% {
    left: 5%;
}

50% {
    left: 4%;
}
	
100% {
    left: 5%;
}
}

body .is-layout-flex > * {
    z-index: 999;
}


/* ---------------------------------- Footer ----- */

.sponsor-box .wp-block-post-featured-image img {
	display: block !important;
	height: 100px !important;
	max-width: 300px;
    	margin: 0 auto;
}

.sponsor-box .wp-block-post-title,
.sponsor-box .wp-block-post-excerpt,
.sponsor-box .wp-block-post-date,
.sponsor-box .wp-block-separator {
	display: none !important;
}

.wp-block-social-links.is-style-pill-shape .wp-social-link {
        background-color: rgba(0,0,0,0) !important;
}

footer {
    padding-top: 100px;
}

.logopyme img{
     max-width: 55% !important;
}

.logomalinche img{
    max-width: 60% !important;
}

.logocortes img{
    max-width: 70% !important;
}

.logoporo img {
    max-width: 80% !important;
}

.logoguarumo img {
   max-width: 100% !important;
}



/* ---------------------------------- Post Blog ----- */

.wp-block-post-featured-image img{
	display: none !important;
}

.wp-block-post-title {
	font-size: 35px !important;
}

/* ---------------------------------- Ponentes  ----------------------------------  */



.wordcamp-image__avatar-container img{
	max-width: 50% !important;
	border-radius: 150px !important;
	border: 3px solid #f8b817 !important;
}

.wordcamp-block__item-title.wordcamp-speakers__title{
	
	text-align: center !important;
	display: block !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 600 !important;
	font-size:16px !important;
	text-transform: none !important;

}

.page-id-8 .wordcamp-speaker.wordcamp-speakers__post {
	position: relative;
}

.page-id-8 .wordcamp-image__avatar-container.align-center {
	position: absolute;
	top: -105px;
	left: 25%;
	right: 25%;
}

.page-id-8 .wordcamp-post-list__post {
	border: 3px solid #97b224;
	padding: 150px 1em 1em;
	margin-bottom: 2em;
	box-shadow: 10px 10px 0 #06a8d2;
}

.page-id-8 ul.wordcamp-block.wordcamp-post-list {
	padding-left: 0;
}





.page-id-8 .wordcamp-speakers__title a:hover {
    text-decoration: dotted;
}

.page-id-8 .wordcamp-speakers__sessions {
	display: inline-grid;
	margin-top: 15px;
	background: url(https://sanjose.wordcamp.org/2022/files/2022/09/arbol.png) no-repeat;
    background-position: right;
    width: 100%;
}

.wordcamp-block__item-content.wordcamp-speakers__content.is-excerpt p {
	display: inline-grid;
}

.page-id-8 .wordcamp-block__item-content.wordcamp-speakers__content.is-excerpt {
    border-bottom: 3px dotted #06a8d2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-id-8 .wordcamp-speakers__sessions-heading:before {
	content: '📢';
	padding-right: 5px;
}

.page-id-8 .slug-leandro-gomez .wordcamp-speakers__sessions-heading:before,
.page-id-8 .slug-lidia-arroyo-v .wordcamp-speakers__sessions-heading:before,
.page-id-8 .slug-mario-rocha .wordcamp-speakers__sessions-heading:before {
	content: '📢 Sesiones';
}

.single-wcb_speaker .entry-content, .single-wcb_speaker .entry-content p, .single-wcb_speaker .speaker-avatar,
.single-wcb_speaker .entry-footer, .single-wcb_speaker #comments {
    max-width: 1240px!important;
}

.single-wcb_speaker .speaker-avatar img {
    border-radius: 50%;
    border: 4px solid #8ce8e1;
    background-color: #8ce8e1;
}

.single-wcb_speaker #speaker-session-names {
    padding-left: 0;
}

.single-wcb_speaker #speaker-session-names:before {
    content: 'Sesión:';
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



/* --------------------------------------------- Programa  ----------------------------------  */

.botonprograma{
	background: #97b224 !important;
	padding:5px;
	
}

.botonprograma:hover{
	background: #97b224 !important;
	padding:5px;
	
}

h2.wordcamp-schedule__date  {
	display:none !important;
}

.wcpt-time,
.wcpt-col-time {
    text-align: center;
}

.wordcamp-schedule__session.has-slug-almuerzo{
    background-color: #97b224 !important;
    text-align: center !important;
}

.wordcamp-schedule__session.has-slug-cafe{
    background-color: #97b224 !important;
    text-align: center !important;
}

.wordcamp-schedule__session.has-slug-almuerzo-2 {
    background-color: #97b224 !important;
    text-align: center !important;
}

.wordcamp-schedule__session.has-slug-cafe-2 {
    background-color: #97b224 !important;
    text-align: center !important;
}




.wordcamp-schedule__session.has-slug-fotografia-general{
	background-color: #a5a3a1 !important;
    	text-align: center !important;
}

.wordcamp-schedule__session.has-slug-rifas-cierre-del-wcsj{
	background-color: #a5a3a1 !important;
    	text-align: center !important;
}

h4.wordcamp-schedule__session.has-slug-fotografia-general{
	color:#ffffff !important;
}
h4.wordcamp-schedule__session-title {
   	text-align: center !important;
	display: block !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 600 !important;
	font-size:16px !important;
	text-transform: none !important;
}

.wordcamp-schedule__column-header{
	background-color: #06a8d2 !important;

}

.wordcamp-schedule__time-slot-header{
	background-color: #aec9d0 !important;
}

span.wordcamp-schedule__column-header{
	font-family: 'Changa', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 600 !important;
	font-size:18px !important;
}

.wcpt-schedule tr:nth-child(even){
    background-color: #f2f2f2;
}

.wcpt-schedule thead {
    background-color: #000;
    color: #fff;
}

.wcpt-time,
.wcpt-col-time {
    text-align: center;
}





/* ---------------------------------- Formulario de Suscripcion ----- */

.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline form button {
    	font-family: 'Changa', sans-serif;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

#subscribe-email input {
    	font-family: 'Poppins', sans-serif;
}



/* ---------------------------------- Home ----- */

.wp-block-image figcaption {
    color: #000;
    font-size: 16px;
}

.home-venue-box {
    color: #fff;
    padding: 10% 15%;
}

.home-ctas-box {
    max-width: 860px !important;
}

.home-news-box li:before {
    content: url(https://sanjose.wordcamp.org/2022/files/2022/08/wcsj22-home-news-icon.png);
    display: inline-block;
    padding-right: 10px;
    float: left;
}



/* ---------------------------------- Tickets ----- */

.tix-js input[type=submit],
.tix-checkout-button {
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    font-weight: 800 !important;
    color: #ffffff;
    background: #06a8d2;
    font-size: 16px;
    padding: 15px 23px 15px 23px;
    margin-left: 10px;
    border-radius: 0px;
    border-width: 1px;
    border-color: #06a8d2;
    border-style: solid;
}

.tix-tickets-list {
    text-align: left;
    border-spacing: 0;

}

/* ------------------------------------------------- Asistentes --- */

.tix-attendee-list li {
	border: none !important;
	padding: 10px !important;
	
}

.tix-attendee-list img.avatar.avatar-96.photo {
	border-radius: 50%;
	border: solid 3px #f0e9de;
}

#tix-attendees .avatar {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	float: none;
}

#tix-attendees .tix-field {
    margin-left: 0 !important;
    width: 100%;
    text-align: center !important;
}

span.tix-first {
	font-size: 1.5em;
	color: #08302f;
	display: block;
	font-weight: 500;
}

span.tix-last {
	color: #08302f;
	display: block;
	font-weight: 500;
	margin-top: -10px !important;
	margin-bottom: 1rem;
}

#tix-attendees .tix-columns-3 li {
	width: 25%;
	min-height: 175px;
	padding: 1rem !important;
	padding-bottom: 6rem !important;
	background-image:  url('https://sanjose.wordcamp.org/2022/files/2022/08/Bagde2.png');
	background-size: 100%, contain;
	background-repeat: no-repeat;
	box-shadow: 0 15px 35px rgba(50,50,90,.1), 0 5px 15px rgba(0,0,0,.07);
	background-position: 50% 95%, top;
	margin-bottom: 2rem !important;
	border-radius: 6px;
	margin-right: 1rem !important;
}

#tix-attendees .tix-columns-3 a.tix-field {
    box-shadow: none;
	border-bottom: none !important;
	margin-left: 0 !important;
	text-align: center;
}

.tix-field.tix-que-tema-te-interesa-mas {
	display: none !important;
}

.tix-field.tix-de-donde-nos-acompana {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px !important;
	letter-spacing: 1px;
	color: #01c1f3;
}

a.tix-field.tix-attendee-twitter, a.tix-field.tix-attendee-url {
	background-color: transparent;
	color: #0e8044;
	text-transform: lowercase;
}
/* --------------------------------------------- Sesiones Individuales y Ponentes ----- */

.sft-feedback-link{
   display:none !important;
}

.is-layout-flow.wp-container-11.wp-block-group{
   display:none !important;
}

/* ---------------------------------- Charlas Tracks ---------------------------------- */

.wordcamp-block__item-title.wordcamp-sessions__title a{
	font-size: 25px !important;
	line-height: 28px !important;

}


/* --------------------------------------------- Mediaqueries ---------------------------------- */

@media only screen and (max-width: 425px) {	
	body.page .site-content .wrap {
	    max-width: 90% !important;
	    margin: 0 auto;
	}
	#tix-attendees .tix-columns-3 li {
	    min-height: 250px;
	    background-image: url('https://sanjose.wordcamp.org/2022/files/2022/08/Bagde2.png');
	    background-size: 100%, contain;
	    background-repeat: no-repeat;
	    width: 80% !important;
	}
	#tix-attendees .avatar {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	float: none;
}
	
	
}

/* Lidi es PV *//
