/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-color: rgba(240, 233, 222, 50%);
}

h1, h2, h3, h4 {
	font-family: 'Changa', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}


/* ----------------------------------  Header ----- */

.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
	padding-bottom: 0px;
}

.wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container)>.wp-block-navigation-item>.wp-block-navigation-item__content {
        color: #000 !important;
}


/* ---------------------------------- Footer ----- */

.wp-block-social-links.is-style-pill-shape .wp-social-link {
        background-color: rgba(0,0,0,0) !important;
}


/* ---------------------------------- Formulario de Suscripcion ----- */

.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline form button {
    	font-family: 'Changa', sans-serif;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

#subscribe-email input {
    	font-family: 'Poppins', sans-serif;
}




/* ---------------------------------- Home ----- */
.wp-block-image figcaption {
    color: #000;
    font-size: 16px;
}


.home-venue-box {
    color: #fff;
    padding: 20%;
}
