/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-color: rgba(240, 233, 222, 50%);
}

h1, h2, h3, h4 {
	font-family: 'Changa', sans-serif !important;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}


/* ----------------------------------  Header ----- */

.home .wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
	padding-bottom: 0px;
}

.wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container)>.wp-block-navigation-item>.wp-block-navigation-item__content {
        color: #000 !important;
}


body:not(.home) 
.wp-custom-header img {
    content: url("https://2019.sanjose.wordcamp.org/files/2019/03/header-intern-temp.jpg") !important;
}

body:not(.home) .wp-custom-header:before {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/date-header-intern-temp.png);
    position: absolute;
    z-index: 1;
    padding: 20px;
    right: 10%;
    top: 30%;
    animation-duration: 3s;
	  animation-iteration-count: infinite;
    animation-name: floating;
}

@keyframes floating {
	0% {
    top: 30%;
  }

  50% {
    top: 25%;
  }
	
	100% {
		top: 30%;
	}
}



/* ---------------------------------- Footer ----- */

.wp-block-social-links.is-style-pill-shape .wp-social-link {
        background-color: rgba(0,0,0,0) !important;
}


/* ---------------------------------- Formulario de Suscripcion ----- */

.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline form button {
    	font-family: 'Changa', sans-serif;
  	text-transform: uppercase;
	font-weight: 800 !important;
}

#subscribe-email input {
    	font-family: 'Poppins', sans-serif;
}




/* ---------------------------------- Home ----- */
.wp-block-image figcaption {
    color: #000;
    font-size: 16px;
}


.home-venue-box {
    color: #fff;
    padding: 10% 15%;
}

.home-ctas-box {
    max-width: 860px !important;
}

.home-news-box li:before {
    content: url(https://sanjose.wordcamp.org/2022/files/2022/08/wcsj22-home-news-icon.png);
    display: inline-block;
    padding-right: 10px;
    float: left;
}
